:root {
  --logo-color: #5d5d6d;
  --bg-primary: #f0f0f5;
  --bg-secondary: #f3f5f6;
  --shapes-dark: #09090a;
  --text-dark: #737380;
  --text-dark2: #41414d;
  --delete-color: #de3838;
  --orange-low: #ffa585;
  --shapes: #dce2e6;
  --button-primary: #115d8c;
  --text-button: #f5f5fa;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: auto;
  overflow-x: hidden;
}
